<p id="notice"><%= notice %></p>

<h1>Listing Board Members</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_members.each do |board_member| %>
      <tr>
        <td><%= board_member.user_id %></td>
        <td><%= board_member.board_id %></td>
        <td><%= link_to 'Show', board_member %></td>
        <td><%= link_to 'Edit', edit_board_member_path(board_member) %></td>
        <td><%= link_to 'Destroy', board_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board member', new_board_member_path %>
