<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>List:</strong>
  <%= @card.list_id %>
</p>

<p>
  <strong>Ord:</strong>
  <%= @card.ord %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
